html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

li {
	padding: 5px;
	padding-bottom: 12px;
	padding-top: 12px;
	font-size: 18px;
}

li:hover { 
    background-color: #929292;
    cursor: pointer;
}

.sidebar {
	width: 20%;
	height: 100%;
	background-color: #252525;
	color: #D6D8DE;
	position: absolute;
	z-index: 5;
}

.title {
	text-align: center;
	margin: 20px 10px 30px 10px;
}

.filter {
	height: 32px;
	width: 25%;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.selected_station {
	background-color: #929292;
}

.infowindow {
	font-size: 24px;
}

#search-box {
	width: 60%;
	height: 32px;
	font-size: 18px;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	border: 1px;
	border-width: 1px;
	color: black;
	vertical-align: middle;
}

#map {
	height: 100%;
}