@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html{
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

 body{
 	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
 }

ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

li {
	padding: 5px;
	padding-bottom: 12px;
	padding-top: 12px;
	font-size: 18px;
}

li:hover { 
    background-color: #929292;
    cursor: pointer;
}

.container-fluid {
	padding: 0px;
	height: 100%;
	width: 100%;
}

.collapsed {
	display:none;
}

@media (min-width: 992px) {
	.collapsed {
		display: block;
		margin-left: -25%;	
	}
}

#row-main {
	overflow-x: hidden;
	height: 100%;
}

#row-hamburger {
	height: 58px;
	margin: 0px;
	background-color: #343434;
	z-index: 2;
	position: absolute;
	width: 100%;
}

#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

#sidebar {
	background-color: #252525;
	color: #D6D8DE;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

.btn {
	height: 38px;
	margin: 2% 2% 0% 2%;
}

.col-md-3 {
	height: 100%;
	min-height: 100%;
	padding-right: 0px;
}

.col-md-9 {
	padding: 0px;
	height: 100%;
}

.sidebar-header {
	text-align: center;
	padding: 30px;
	font-size: 36px;
}

.filter {
	height: 32px;
	width: 21%;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.selected_station {
	background-color: #929292;
}

.infowindow {
	font-size: 24px;
}

.glyphicon-menu-hamburger {
	font-size: 18px;
	padding: 20px 20px;
}

#search-box {
	width: 68%;
	height: 38px;
	font-size: 18px;
	margin: 2% 0% 0% 2%;
	padding: 0px;
	border: 1px;
	border-width: 1px;
	color: black;
	vertical-align: middle;
	border-radius: 5px;
}

#map {
	height: 100%;
	z-index: 0;
}